name: QA

on: [ push, pull_request, merge_group ]

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      # Executes "typos ."
      - uses: crate-ci/typos@v1.41.0
